doctype html
html
	head
		title App to log in with Google
	body
		h1 Please, enter your name, email and password
		form
			input.form(type='text', placeholder='Name')
			input.form(type='email', placeholder='jankowal@gmail.com')
			input.form(type='text', placeholder='Password')
			button.send(type='submit')
				a(href='/news') Log in
