doctype html
html
  head
    title App to log in with Google
  body
    p.greetings Welcome to our world! Log in and check what we prepared for you.
    button
      a(href='/auth/google') Log in with Google
